RewriteEngine On

# dynamically setup base URI
# sera utile pour 1. faire des liens fonctionnels vers nos assets 
# et 2. aussi pour le routing avec altorouter
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE_URI:%1]

# redirect every request to index.php
# and give the relative URL in "_url" GET param
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]

#index.php?_url=/pouf